* {
  font-family:
    "Fantasque Sans Mono", "IosevkaTerm NFP", FontAwesome, Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
}

tooltip {
  background-color: #f7f7f7;
  border: 1px solid #595959;
  box-shadow: 0px 0px 0px 2px #181818;
}

tooltip * {
  color: #181818;
}

window#waybar {
  background-color: transparent;
  color: #181818;
  transition-property: background-color, color;
  transition-duration: 0.5s;
}

window#waybar > box {
  color: #181818;
  background-color: #f7f7f7;
  margin: 0px;
  padding-left: 2px;
  transition-property: background-color, color, margin;
  transition-duration: 0.1s;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.empty > box {
  margin: 5px;
  margin-left: 200px;
  margin-right: 200px;
  border-radius: 6px;
  border: 1px solid #333333;
}

window#waybar.empty * {
  color: #181818;
}

/*
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

/**/
/* window#waybar.chromium { */
/*   background-color: #000000; */
/*   border: none; */
/* } */

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
  color: #181818;
}

button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces {
  transition: all ease-in-out 300ms;
}

#workspaces button {
  transition: all ease-in-out 300ms;
  padding: 0 5px;
  background-color: transparent;
  color: #181818;
  opacity: 0.5;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#workspaces button.active {
  font-weight: bold;
  opacity: 1;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
  padding: 0 10px;
  color: #181818;
}

#tray {
  padding-left: 10px;
  padding-right: 0px;
}

#window,
#workspaces {
  margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#battery {
  color: #181818;
}

#battery.charging,
#battery.plugged {
  color: #26a65b;
}

@keyframes blink {
  to {
    color: #f7f7f7;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#power-profiles-daemon {
  padding-right: 15px;
}

#power-profiles-daemon.performance {
  color: #f53c3c;
}

#power-profiles-daemon.balanced {
  color: #2980b9;
}

#power-profiles-daemon.power-saver {
  color: #2ecc71;
}

label:focus {
  background-color: #000000;
}

#backlight {
  color: #90b1b1;
}

#network {
  color: #1e90ff;
}

#network.disconnected {
  opacity: 0.3;
}

#bluetooth {
  color: #181818;
  padding-left: 4px;
}

#bluetooth.disabled {
  opacity: 0.3;
}

#wireplumber {
  color: #444;
}

#wireplumber.muted {
  color: #f53c3c;
}

#custom-media {
  background-color: #66cc99;
  color: #2a5c45;
  min-width: 100px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
  color: #000000;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#idle_inhibitor {
  opacity: 0.3;
}

#idle_inhibitor.activated {
  opacity: 1;
  color: #181818;
}

#privacy {
  padding: 0;
}

#privacy-item {
  padding: 0 5px;
  color: white;
}

#privacy-item.screenshare {
  background-color: #cf5700;
}

#privacy-item.audio-in {
  background-color: #1ca000;
}

#privacy-item.audio-out {
  background-color: #0069d4;
}
